<div id="<%= dom_id student %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= student.nombre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Apellido:</strong>
    <%= student.apellido %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= student.email %>
  </p>

</div>
