<div class="w-full">

  <h1 class="font-bold text-4xl">Escuela</h1>
  <div class="flex justify-between items-center" style="justify-content: space-around">

    <%= link_to "Cursos", courses_url, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to "Maestros", teachers_url, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to "Materiales", materials_url, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to "Estudiantes", students_url, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

</div>
