<div id="<%= dom_id inscription %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Student:</strong>
    <%= inscription.student_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Course:</strong>
    <%= inscription.course_id %>
  </p>

</div>
