<div id="<%= dom_id teacher %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= teacher.nombre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Apellido:</strong>
    <%= teacher.apellido %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= teacher.email %>
  </p>

</div>
